<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xavier.mapper.SeckillVoucherMapper">
    <update id="updateStock">
        update tb_seckill_voucher set stock = stock - 1 where voucher_id = #{voucherId} and stock > 0
    </update>

    <select id="getSeckillVoucherById" resultType="com.xavier.entity.SeckillVoucher">
        select * from tb_seckill_voucher where voucher_id = #{voucherId}
    </select>
</mapper>