<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xavier.mapper.ShopMapper">
    <update id="updateShopById">
        update tb_shop set name = #{name}, type_id = #{typeId}, images = #{images}, area = #{area}, address = #{address},
                           x = #{x}, y = #{y}, avg_price = #{avgPrice}, sold = #{sold}, comments = #{comments},
                           score = #{score}, open_hours = #{openHours} where id = #{id}
    </update>

    <select id="getShopById" resultType="com.xavier.entity.Shop">
        select * from tb_shop where id = #{id}
    </select>
</mapper>